body {
  background-image: url(https://i.pinimg.com/originals/a3/88/cb/a388cb03db387f20d71e4ffc14df6f5d.jpg);
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 20px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  background-image: url(https://66.media.tumblr.com/2e96af587b3f2f96b88c7eb17439c8b3/tumblr_or6nwehp7T1wq3wtao5_400.gifv);
  color: rgb(115, 95, 231);
  border-style: solid
}

#title {
  background-color: whitesmoke;
  border-style: solid;
  padding-left: 20px;
  opacity: 0.80;
  border-radius: 25px;
}

#game {
  display: none;
}

.container {
  background: rgba(255, 255, 255, .5);
  box-shadow: 0 15px 20px rgba(0, 0, 0, .5);
  padding: 20px;
  margin-top: 20px;
  border-radius: 3px;
}

#dancing{
  padding-top: 20px;
  padding-left: 20%;
}

#eating {
  padding-top: 20px;
  padding-left: 20%;
  display: none;
}

#sleeping {
  padding-top: 20px;
  padding-left: 20%;
  display: none;
}

#havingfun {
  padding-top: 20px;
  padding-left: 20%;
  display: none;
}

#death {
  padding-top: 20px;
  padding-left: 20%;
  display: none;
}

#showDeath, #gameOverMessage {
  padding-left: 20%;
  display: none;
}